body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust as needed */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease; /* Smooth transition */
}

#drop-area.highlight {
    border-color: #4CAF50; /* Highlight color on drag over */
}

#fileElem {
    display: none; /* Hide the default input */
}

#preview-area {
    margin-top: 10px;
}

.image-preview {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block; /* Display previews horizontally */
}
.image-preview img {
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #45a049;
}
